footer {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 12px;
  line-height: 500%;
  letter-spacing: 1px;
}

@media(min-width: 768px) {
  footer {
    font-size: 14px;
    letter-spacing: 2px;
  }
}